#root {
    -fx-background-image: url('../img/stars.jpg');
}

.button {
    -fx-background-color: green;
}

.live {
    -fx-background-image: url('../img/heart.png');
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-pref-height: 50;
    -fx-pref-width: 50;
}

.label {
    -fx-text-fill: red;
}

.level .label {
    -fx-text-fill: aqua;
}

.toggle-button {
    -fx-background-image: url('../img/sound_off.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

.toggle-button:selected {
    -fx-background-image: url('../img/sound_on.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-border-width: 0;
}