#root {
    -fx-background-image: url('../img/stars.jpg');
}

.button, .toggle-button {
    -fx-cursor: hand;
}

.live {
    -fx-background-image: url('../img/heart.png');
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-pref-height: 50;
    -fx-pref-width: 50;
}

.label {
    -fx-text-fill: red;
}

.level .label {
    -fx-text-fill: aqua;
}

.toggle-button,.toggle-button:selected, .close-button, .home-button {
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-opacity: 0.7;
}

.toggle-button {
    -fx-background-image: url('../img/sound_off.png');
}

.toggle-button:hover, .close-button:hover, .home-button:hover {
    -fx-opacity: 1;
}

.toggle-button:selected {
    -fx-background-image: url('../img/sound_on.png');
}

.close-button {
    -fx-background-image: url('../img/close.png');
}

.home-button {
    -fx-background-image: url('../img/home.png');
}

.highscore-button, .start-game-button {
    -fx-background-color: linear-gradient(to right, rgba(40,60,134,0) 0%,rgba(52,101,109,1) 45%,rgba(58,121,96,1) 55%,rgba(69,162,71,0) 100%);
    -fx-pref-width: 200;
    -fx-pref-height: 50;
    -fx-border-radius: 50;
    -fx-border-width: 3;
    -fx-border-color: white;
    -fx-font-size: 15;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.highscore-button:hover, .start-game-button:hover {
    -fx-background-color: linear-gradient(to right, rgba(49,91,115,0) 6%, rgba(49,91,115,1) 10%,rgba(49,91,115,0) 30%,rgba(75,162,229,0) 70%,rgba(60,132,90,1) 80%,rgba(60,132,90,0) 95%);
}