@import "base.css";

.label {
    -fx-font-size: 30pt;
}

.space {
    -fx-border-color: #c1d045;
    -fx-border-width: 0 2 0 2;
}

.space .line {
    -fx-stroke: #c1d045;
}

.spaceship {
    -fx-background-image: url("../img/rocket.png");
    -fx-background-size: contain;
}

.spaceship.hit {
    -fx-background-image: url("../img/rocket_hit.png");
}

.game-left .text {
    -fx-fill: #c1d045;
}
.game-right .text {
    -fx-fill: #c1d045;
}