@import "base.css";

.label {
    -fx-font-size: 30pt;
}

.space {
    -fx-border-color: yellow;
    -fx-border-width: 0 2 0 2;
}

.space .line {
    -fx-stroke: yellow;
}

.spaceship {
    -fx-background-image: url("../img/rocket.png");
    -fx-background-size: contain;
}

.spaceship.hit {
    -fx-background-image: url("../img/rocket_hit.png");
}

.obstacle {
    -fx-background-size: contain;
}

.obstacle.astronaut {
    -fx-background-image: url("../img/astronaut.png");
}

.obstacle.satellite {
    -fx-background-image: url("../img/satellite.png");
}

.obstacle.meteor {
    -fx-background-image: url("../img/meteor.png");
}

.obstacle.ufo {
    -fx-background-image: url("../img/ufo.png");
}

.obstacle.planet {
    -fx-background-image: url("../img/planet.png");
}
