@import "base.css";

.label {
    -fx-font-size: 30pt;
}

.space {
    -fx-border-color: #c1d045;
    -fx-border-width: 0 2 0 2;
}

.space .line {
    -fx-stroke: #c1d045;
}

.spaceship.hit {
    -fx-background-image: url("../img/rocket_hit.png");
}

.game-left .text {
    -fx-fill: #c1d045;
}

.game-right .text {
    -fx-fill: #c1d045;
}

.live {
    -fx-background-image: url('../img/heart.png');
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-pref-height: 50;
    -fx-pref-width: 50;
}

.button-left,
.button-right {
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
}

.button-left {
    -fx-background-image: url('../img/button-left.png');
}

.button-right{
    -fx-background-image: url('../img/button-right.png');
}