@import "base.css";

#root {
    -fx-background-color: blue;
}

.label {
    -fx-text-fill: yellow;
    -fx-font-size: 30pt;
}

#gameContainer {
    -fx-background-color: black;
}

.line {
    -fx-stroke: yellow;
}

.spaceship {
    -fx-fill: red;
}

.obstacle {
    -fx-fill: white;
}
