@import "../base.css";

.root {
    -fx-background-image: url('../../img/stars.jpg');
    -fx-background-position: center;
    -fx-border-width: 1;
    -fx-border-color: white;
}

.root:header *.header-panel{
    -fx-background-color: transparent;
}

.alert.confirmation.dialog-pane,
.text-input-dialog.dialog-pane,
.choice-dialog.dialog-pane {
    -fx-graphic: none;
}

.dialog-pane:header .header-panel .label {
    -fx-font-size: 150%; /* 14px */
    -fx-wrap-text: true;
}

.dialog-pane {
    -fx-padding: 20;
}

.dialog-pane > .content.label {
    -fx-font-size: 125%;
}

.dialog-pane > .button-bar > .container {
    -fx-padding: 40 0 0 0;
}